@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Genty';
  src: url(/src/app/fonts/GentySans-Regular.woff2) format('woff2'),
    url(/src/app/fonts/GentySans-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}